body {
    margin: 0;
    background-image: url(../images/tasbeeh1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*navbar brands*/
.custom-navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 0;
    margin-top: 3px;
}



.maincontainer {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.custom_card {
    background-color: darkcyan;
    height: 80vh;
    margin-top: -30px;
    border-radius: 10px 10px;
    transition: transform 0.4s;
}

    .custom_card:hover {
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        transform: scale(1.03);
    }

.incorrect_check {
    display: flex;
    justify-content: center;
}

.incorrect_check_hidden {
    visibility: hidden;
}

.custom-btn:hover {
    background-color: seagreen;
    color: aliceblue;
    transition: ease-in-out 0.4s;
}

.customsignupbtn {
    color: black;
    font-weight: 400;
    width: 30vh;
    border-radius: 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    .customsignupbtn:hover {
        background-color: greenyellow;
        color: aliceblue;
        width: 33vh;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        transition: ease-in-out 0.3s;
    }


.signupcard {
    background-color: darkkhaki;
    width: 550px;
    height: 500px;
    border-radius: 10px;
    border: 1.5px solid black;
    transition: transform 0.4s;
}

    .signupcard:hover {
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        transform: scale(1.02);
    }


/*admin word on master page*/
.adminWord {
    color: antiquewhite;
    text-underline-offset: unset;
}


/*media query for search bar*/
@media screen and (max-width: 960px) {
    .search-bar {
        display: none;
    }
}



/*homepage*/

.custom-heading {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.material_section .box {
    margin-top: 45px;
    text-align: center;
}

    .material_section .box .img-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 275px;
        background-color: #f7fafa;
        border-radius: 5px;
    }

.detail-box {
    margin-top: 15px;
}

    .detail-box a {
        font-size: 20px;
        color: snow;
        text-decoration: inherit;
        font-weight: 500;
    }

.price_heading {
    margin-top: 10px;
    margin-bottom: 0;
    color: snow;
}

    .price_heading span {
        color: #b6eb7a;
    }
